.projectIcon {
    width:90%;
    height: 90%;
    border-radius: 15%;
    box-shadow: -8px 10px 35px 18px #1111;
    transition: 0.5s;

}

.projectIcon:hover {
    position: relative;
    transform: scale(1.5);
    display: block;
}

    @media (min-width:960px) {
        .project-icon {
            max-width: 310px;
            max-height: 310px;
        }
    }

    .titleMain {
        display: inline-block;
        /* margin: 1em; */
        text-transform: uppercase;
        padding: 1em 0.0em;
        background: none;
        color: black;
        font-weight: bold;
        /* position: relative; */
        transition: color 0.25s ease;
        /* border:3px solid black; */
    }