@import url('https://fonts.googleapis.com/css2?family=Arimo&display=swap');
.backgroundImage {
    background-repeat: no-repeat;
    background-color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    font-family: 'Arimo', sans-serif;
}

.square {
    width: 210px;
    height: 210px;
    background-color: red;
}

.buttonAbout {
    display: inline-block;
    /* margin: 1em; */
    padding: 1em 0.0em;
    background: none;
    color: black;
    font-weight: bold;
    /* position: relative; */
    transition: color 0.25s ease;
    /* border:3px solid black; */
    text-decoration: none;
}

.buttonAbout:hover {
    color: white;
    transition: 0.5s ease;
    background-color: black;
}

.buttonAbout::after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: red;
    transform-origin: left;
    transition: width 0.25s ease;
    z-index: -1;
}

.buttonProjects {
    display: inline-block;
    /* margin: 1em; */
    padding: 1em 0em;
    background: none;
    color: black;
    font-weight: bold;
    position: relative;
    transition: color 0.5s ease;
    /* border:3px solid black; */
    text-decoration: none;
}

.buttonProjects:hover {
    color: white;
    transition: 0.5s ease;
    background-color: black;
}

.buttonProjects::after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: red;
    transform-origin: left;
    transition: width 0.25s ease;
    z-index: -1;
}

.titleMain {
    display: inline-block;
    /* margin: 1em; */
    padding: 1em 0.0em;
    background: none;
    color: black;
    font-weight: bold;
    /* position: relative; */
    transition: color 0.25s ease;
    /* border:3px solid black; */
}

.linkGroup {
    margin-top: -10%;
}